<template>
    <div>
        <v-list>
            <v-list-tile class="mb-4">
                <v-layout align-center wrap>
                    <v-flex xs12>
                        <v-text-field
                            solo light
                            placeholder="What needs to be done today?"
                            v-model="newTodoModel"
                            @keyup.enter.native="addTodo"
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs6 class="list-infos body-1 text-sm-center">
                        {{ doneTodosCount }} completed
                    </v-flex>
                    <v-flex xs6 class="list-infos body-1 text-sm-center">
                        {{ value.length - doneTodosCount }} left
                    </v-flex>
                </v-layout>
            </v-list-tile>

            <TodoListItem 
                v-for="todo in value" 
                :key="todo.id"
                :index="todo.id"
                :todo="todo"
                @updateTodo="onUpdateTodo"
                @removeTodo="onRemoveTodo"
            ></TodoListItem>
        </v-list>
    </div>
</template>

<script>
import TodoListItem from './TodoListItem.vue';

export default {
    name: 'TodoList',

    components: {
        TodoListItem,
    },

    props: {
        // v-model bindings
        value: {
            type: Array,
            // in JS, the use of the assignement operator on an array or an object makes a pointer (reference).
            // in order to avoid issues, we need a function.
            default: () => [],
        },
    },

    data: () => ({
        newTodoModel: '',
    }),

    computed: {
        doneTodosCount() {
            return this.value.filter(t => t.done === true).length;
        },
    },

    methods: {
        addTodo() {
            this.$emit('input', [
                ...this.value,
                { 
                    title: this.newTodoModel,
                    id: this.value.length, // easy-and-dirty id generation
                    done: false,
                },
            ]);
            this.newTodoModel = '';
        },

        onUpdateTodo(newTodo) {
            const index = this.value.findIndex(t => t.id === newTodo.id);
            this.$emit('input', [
                ...this.value.slice(0, index),
                newTodo,
                ...this.value.slice(index + 1),
            ]);
        },

        onRemoveTodo(todo) {
            const index = this.value.findIndex(t => t.id === todo.id);
            this.$emit('input', [
                ...this.value.slice(0, index),
                ...this.value.slice(index + 1),
            ]);
        },
    },
}
</script>

<style lang="scss" scoped>
    .list-infos {
        color: #b9b9b9;
    }
</style>
