<template>
    <v-list-tile
        class="todo-item"
        :class="{ 'todo-item--done': this.internalTodo.done }"
    >
        <v-list-tile-action>
            <v-btn flat icon @click="toggle" class="btn-toggle">
                <v-icon>{{ this.internalTodo.done ? 'check_circle' : 'check_circle' }}</v-icon>
            </v-btn>
        </v-list-tile-action>

        <v-text-field
            v-model="internalTodo.title"
            @blur="onBlur"
        ></v-text-field>

        <v-btn flat icon @click="remove">
            <v-icon color="error">delete</v-icon>
        </v-btn>
    </v-list-tile>
</template>

<script>
export default {
    // follow official recomandations
    name: 'TodoListItem',

    props: {
        todo: {
            type: Object,
            // Very simple validator, in a real world app we should use a dedicated library (even with TS).
            validator: v => typeof v === 'object' 
                && v 
                && typeof v.title === 'string'
                && typeof v.done === 'boolean',
        },
    },

    computed: {
        internalTodo() {
            return Object.assign({}, this.todo);
        },

        hasTitle() {
            return this.internalTodo.title.length > 1;
        },
    },

    methods: {
        onBlur() {
            this.$emit('updateTodo', Object.assign({}, this.internalTodo));
        },

        toggle() {
            this.$emit('updateTodo', Object.assign({}, this.internalTodo, { done: !this.internalTodo.done }));
        },

        remove() {
            this.$emit('removeTodo', Object.assign({}, this.internalTodo));
        },
    },
}
</script>

<style lang="scss">
    .todo-item--done {
        .btn-toggle .v-icon {
            color: #afafaf !important;
        }

        .v-text-field__slot input[type=text] {
            text-decoration: line-through;
            font-style: italic;
            color: #afafaf !important;
        }
    }
</style>
