<template>
  <v-app dark>
    <v-content>
      <v-container grid-list-lg>

        <v-layout justify-center>
          <v-flex xs12 md8>
            <v-card>
              <v-card-title primary-title>
                <h2 class="headline">I'm not sync with other lists</h2>
              </v-card-title>
              <TodoList v-model="todos"></TodoList>
            </v-card>
          </v-flex>
        </v-layout>

        <v-layout wrap justify-center>
          <v-flex xs12 md4>
            <v-card>
              <v-card-title primary-title>
                <h2 class="headline">I'm sync!</h2>
              </v-card-title>
              <TodoList v-model="syncTodos"></TodoList>
            </v-card>
          </v-flex>

          <v-flex xs12 md4>
            <v-card>
              <v-card-title primary-title>
                <h2 class="headline">I'm sync too!</h2>
              </v-card-title>
              <TodoList v-model="syncTodos"></TodoList>
            </v-card>
          </v-flex>
        </v-layout>

      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import TodoList from './components/TodoList.vue';

export default {
  name: 'app',

  components: {
    TodoList,
  },

  data: () => ({
    todos: JSON.parse(localStorage.getItem('behavior-todos')) || [
      { title: 'Get a look at Dart', done: false, id: 0 },
      { title: 'Do some photographies', done: false, id: 1 },
      { title: 'Play. A little!', done: false, id: 2 },
      { title: 'Dev a todo list for Behavior Interactive', done: true, id: 3 },
    ],
    syncTodos: JSON.parse(localStorage.getItem('behavior-synced-todos')) || [],
  }),

  watch: {
    todos() {
      localStorage.setItem('behavior-todos', JSON.stringify(this.todos));
    },

    syncTodos() {
      localStorage.setItem('behavior-synced-todos', JSON.stringify(this.syncTodos));
    }
  },
}
</script>

<style lang="scss">

</style>
